<%- include('templates/header')-%>
<div class="container">
  <h1 class="text-center mt-2"><%=item.title%></h1>
  <div class="row mx-1">
    <img src="/<%=item.thumbnail%>" alt="" />
    <div class="content mx-4">
      <h5 class="card-title"></h5>
      <p class="card-text"><%=item.content%></p>
      <footer class="blockquote-footer mt-4">
        <cite title="Source Title"><%=item.author%></cite>
      </footer>
      <a href="/news/edit/<%=item.id%>" class="btn btn-primary mt-2">Edit</a>
      <a href="/news/delete/<%=item.id%>" class="btn btn-danger mt-2">Delete</a>
    </div>

    <div class="comments media-block">
      <a class="media-left" href="#"
        ><img
          class="img-circle img-sm"
          alt="Profile Picture"
          src="/images/user/user.png"
      /></a>
      <div class="media-body">
        <div class="comment-header">
          <a href="#" class="media-heading box-inline text-main text-bold"
            >User</a
          >
          <p class="text-muted text-sm">2020-20-20</p>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dicta
          amet consequuntur at nobis q
        </p>
        <a class="btn btn-sm btn-default"
          ><i class="icon-lg demo-pli-right-4"></i> Reply</a
        >
      </div>
    </div>
    <div class="container">
      <p class="text-lg text-main text-bold text-uppercase">Leave a comment</p>
      <form role="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                id="id_tugas_reply"
                value="<?= $id_tugas; ?>"
              />
            </div>
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                id="id_user_reply"
                value="<?= $this->session->id_user; ?>"
              />
            </div>
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                id="id_parent_reply"
                value="<?= $id_parent; ?>"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="9"
                id="reply"
                placeholder="Your reply"
              ></textarea>
            </div>
            <hr class="article-line" />
            <div class="form-group">
              <button
                id="btn_submit_reply"
                type="button"
                class="btn btn-success btn-block"
              >
                <i class="fa fa-comment"></i> Submit reply
              </button>
            </div>
          </div>
          <div class="col-md-4"></div>
      </form>
    </div>
  </div>
  <a href="/news" class="btn btn-primary mt-2">Back</a>
</div>
<%- include('templates/footer')-%>
